
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #73c8ff ;
  background-image: url("/images/");
  
}



/*.middle-container {
    
    background-color: #2a9d8f;

}*/


.about-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 200%;
}

a:hover {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: floralwhite;
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: floralwhite;
  background-color: transparent;
  text-decoration: underline;
}

.img1{

}

.img2{
  float: left;
  width: 25%;
  margin: 30px;



}

.img3 {
  float: right;
  width: 25%;
  margin: 30px;

}


